.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: 100vh;
}

.header {
  margin-bottom: 40px;
}

.logo {
  height: 120px;
}

.title {
  font-size: 36px;
}

.section {
  margin-bottom: 40px;
}

.form {
  display: block;
  width: 200px;
  margin: 0 auto;
}

.inputContent {
  margin-bottom: 20px;
}

.label {
  display: block;
  text-align: left;
}

.input {
  width: 100%;
  height: 30px;
  padding: 10px;
  border: 0;
  border-bottom: 3px solid #aaa;
  background-color: #7b7b7b;
  font-size: 16px;
}

.button {
  margin: 0 10px;
  background: none;
  border: 0;
  color: #dbdbdb;
  font-size: 16px;
  text-transform: uppercase;
}

.register {
  font-weight: bold;
}

.subtitle {
  text-align: center;
  line-height: 2;
}

.link {
  color: white;
  line-height: 2;
}

.play {
  height: 100vh;
  max-height: 900px;
  width: 100%;
  max-width: 500px;
  padding: 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.play__points {
  width: 100%;
  display: flex;
  justify-content: space-between;

  color: #dbdbdb;
  font-size: 24px;
}

.play__point {
  width: 50%;
  text-align: center;
}

.main {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.play__counter {
  margin-bottom: 4px;

  color: #b3afaf;
  font-size: 20px;
  text-align: center;
}

.play__play-game {
  color: #dbdbdb;
  font-size: 46px;
  text-transform: uppercase;
}
